<section
id="home"
class=" min-h-screen flex items-center justify-center pt-20 sm:pt-40"
>
<!-- Background Image -->
<div class="absolute inset-0 z-0">
  <img
    src="images/background.png"
    alt="Lab Background"
    class="w-full h-full relative object-cover"
  />
  <!-- Gradient Overlay -->
  <div class="absolute inset-0 bg-black/50"></div>
  <div
    class="absolute inset-0"
    style="
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 20%,
        #00052b 100%
      );
    "
  ></div>
</div>



<!-- Konten Tengah -->
<div class="relative z-30 text-center max-w-5xl mx-auto px-4 sm:px-6">
  <!-- Logo -->
  <div class="flex justify-center items-center mb-6 sm:mb-8">
    <img
      src="images/logo1.png"
      alt="Logo Ryper Lab"
      class="w-20 h-20 sm:w-24 sm:h-24 md:w-32 md:h-32 object-contain"
    />
  </div>

  <!-- Judul -->
  <h1
    class="text-3xl sm:text-5xl md:text-6xl lg:text-7xl font-bold text-white mb-4"
  >
    Ryper Lab Universitas Jember
  </h1>

  <!-- Subjudul -->
  <h2
    class="text-lg sm:text-2xl md:text-3xl text-gray-300 font-light mb-6 sm:mb-8"
  >
    Laboratorium Rekayasa Perangkat Lunak
  </h2>

  <!-- Deskripsi -->
  <p
    class="text-sm sm:text-base md:text-lg text-gray-300 max-w-3xl mx-auto leading-relaxed"
  >
    Ryper Lab merupakan salah satu laboratorium yang dimiliki oleh
    Fakultas Ilmu Komputer Universitas Jember yang berfokus pada analisis,
    pengembangan, desain dan implementasi perangkat lunak. Ryper Lab
    memiliki asisten laboratorium yang terbagi menjadi 3 bidang yang
    terdiri dari asisten praktikum (pendidikan), asisten penelitian.
  </p>
</div>
</section>