<section class="py-16 sm:py-20 bg-[#00052B] relative overflow-hidden">
    <img
      src="images/left-element2.png"
      alt="Visi Background"
      class="absolute inset-0 w-[500px] h-[500px] bottom-0 object-cover z-50"
    />

    <div class="max-w-6xl mx-auto px-4 sm:px-6 relative z-10">
      <h2
        class="text-3xl sm:text-4xl md:text-5xl font-bold text-center mb-12 sm:mb-16 text-white"
      >
        Visi
      </h2>
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-base sm:text-lg text-gray-300 leading-relaxed">
          Unggul dalam riset dan pengembangan di bidang Rekayasa Perangkat
          Lunak (RPL) maupun IPTEK yang berkompeten serta berdaya saing tinggi
          sehingga dapat menjadi pusat rujukan penelitian dan pengembangan di
          bidang Rekayasa Perangkat Lunak yang selaras dengan visi dan misi
          fakultas.
        </p>
      </div>
    </div>
  </section>