---
import { Mail } from "lucide-react";
---

<section class="space-y-4">
    <h3
        class="text-white font-bold text-base sm:text-lg flex items-center space-x-2"
    >
        <Mail className="w-5 h-5" />
        <span>Contact Us</span>
    </h3>
    <a
        href="mailto:labrpl@cs.unej.ac.id"
        class="text-gray-300  hover:text-white transition-colors text-sm break-all"
    >
        labrpl@cs.unej.ac.id
    </a>
</section>