---
import LogoFooter from "./LogoFooter.astro";
import AddressFooter from "./AddressFooter.astro";
import ContactFooter from "./ContactFooter.astro";
import SocialFooter from "./SocialFooter.astro";
---


<section
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 lg:gap-52"
    >
      <LogoFooter/>

      <AddressFooter />

      <ContactFooter/>

      <SocialFooter/>
    </section>