---
import Layout from '../layouts/Layout.astro';
import "../styles/blog.css";

---
<Layout>
    <main class="g min-h-screen  bg-gray-900">
     
      <div class="content-wrapper">
        <section id="home" class="relative min-h-screen flex overflow-hidden">
          <div class="absolute top-0 left-0 z-0">
            <img
              src="../images/about/elemt-left.png"
              alt="Left Decoration"
              class="w-32 h-32 sm:w-48 sm:h-48 md:w-64 md:h-64 lg:w-80 lg:h-80 xl:w-[50rem] xl:h-[50rem] object-cover"
            />
          </div>

          <div class="absolute top-0 right-0 z-0">
            <img
              src="../images/about/element-right.png"
              alt="Right Decoration"
              class="w-32 h-32 sm:w-48 sm:h-48 md:w-64 md:h-64 lg:w-80 lg:h-80 xl:w-[50rem] xl:h-[50rem] object-cover"
            />
          </div>

          <div
            class="absolute left-12 sm:left-24 md:left-36 lg:left-48 xl:left-60 top-1/2 -translate-y-1/2 z-20 text-white text-left"
          >
            <h1
              class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-extrabold tracking-wider"
            >
              BLOG
            </h1>
          </div>
        </section>

        <div class="max-w-[1260px] mx-auto px-6 pt-20">
          <div
            class="flex flex-col md:flex-row justify-between items-start md:items-center mb-12"
          >
            <h2 class="text-2xl md:text-3xl font-semibold mb-6 md:mb-0">
              NEWEST POST
            </h2>

            <div class="flex flex-wrap items-center gap-3">
              <button
                class="chip active  px-4 py-2 rounded-full text-sm font-medium"
                data-filter="all"
              >
                All
              </button>
              <button
                class="chip px-4 py-2 rounded-full text-sm font-medium"
                data-filter="event"
              >
                Event
              </button>
              <button
                class="chip px-4 py-2 rounded-full text-sm font-medium"
                data-filter="material"
              >
                Workshop
              </button>
              <button
                class="chip px-4 py-2 rounded-full text-sm font-medium"
                data-filter="pengenalan"
              >
                Pengenalan
              </button>
              <button
                class="chip px-4 py-2 rounded-full text-sm font-medium mr-6"
                data-filter="latest"
              >
                Penelitian
              </button>

              <div id="search-container">
                <input type="text" id="searchInput" placeholder="Search..." />
                <button
                  id="search-icon-btn"
                  class="px-4 py-2 rounded-full text-sm font-medium"
                >
                  <svg
                    class="w-4 h-4"
                    fill="none"
                    stroke="white"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div
            id="blog-grid"
            class="grid grid-cols-1  md:grid-cols-2 lg:grid-cols-3 gap-8 mb-12"
          ></div>

          <div
            id="pagination"
            class="flex justify-center space-x-2 pb-20"
          ></div>
        </div>
      </div>

    </main>
    <script type="module" src="/src/scripts/blog.js" defer></script>
</Layout>
