---
import MainFooter from "./main-footer/MainFooter.astro";
import CopyrightFooter from "./CopyrightFooter.astro";


---

<!-- Footer -->
<footer class="bg-[#002C4B] py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <MainFooter/>

    <CopyrightFooter/>
  </div>
</footer>
